body {
    background: rgb(102, 5, 5);
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    color: white;
    text-align: center;
    text-underline-position: below;
}

p{
    color: white;
}

a{
    color: azure;
}